.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #000;
}
.grid-cell {
  border: 1px solid #000;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease all;
}
.grid-cell.initial:hover {
  background-color: rgba(128, 229, 202, 0.198);
}

.grid-cell-content {
  visibility: hidden;
}

.selected .grid-cell-content,
.completed .grid-cell-content {
  visibility: visible;
}
.selected,
.completed {
  background-color: rgb(128 229 202);
}
